<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing page</title>
    <link rel="stylesheet" type="text/css" href="/css/landing page.css">
</head>
<body>
    <header>
        <nav >
            <img class="imglogo" src="/img/SJO_LOGO2-removebg-preview.png" alt="">
            <div class="fix">
                <div class="prueba">
                    <h1 class="titulo">SJO Pro Solutions</h1>
                </div>
                <ul class="listaheader">
                    <li><a href="#misions">Mision</a></li>
                    <li><a href="#visions">Vision</a></li>
                    <li><a href="#valoress">Valores</a></li>
                    <li> <a href="#¿Quienes Somos?s">¿Quienes Somos?</a></li>
                </ul>
            </div>
        </nav>
    </header>
 <div class="quienesomos">
    <div class="quienestxt">
        <p class="infogrande">
            En SJO Solutions, Creamos <br>
            Páginas Web a Medida <br>
            que Impulsan <br>
            tu Negocio. <br>
        </p>
        <p class="infopeque">
            Diseñamos sitios web personalizados que se adaptan a <br>
            las necesidades de tu empresa, ofreciendo soluciones <br>
            atractivas y funcionales para potenciar tu presencia <br>
            online. Especializados en paginas gubernamentales. <br>
        </p>
    <div class="cotiza">
        <button class="boton-grueso">Cotiza con nosotros</button>
    </div>
    </div>
    <div class="imagenquienes">
        <img src="/img/SJO_LOGO2-removebg-preview.png" alt="">
    </div>
    </div>
<div class="lineadivisora"></div>
 <div class="prueba"></div>
 <div class="mision">
    <div><h1 class="misiont" id="misions">Misión</h1></div>
    <div>
        <p class="misionp">Crear soluciones tecnológicas eficientes para pequeños y medianos <br>
            emprendedores en el Gran Área Metropolitana mediante el desarrollo de<br>
            software utilizando las mejores prácticas de codificación, recursos y<br>
            tecnología más actualizados del mercado. </p>
    </div>
 </div>
 <div class="vision">
    <div>
        <p class="visionp">Ser empresa lider en tecnologia y desarrollo de software en Costa <br>
            Rica y centroamérica, generando un impacto a la economía y a los <br>
            emprendedores de una forma íntegra y eficiente </p>
    </div>
    <div><h1 class="visiont" id="visions">Visión</h1></div>
 </div>
 <div class="lineadivisora"></div>
 <div class="valores">
    <div class="titulov">
        <h1 id="valoress">Valores</h1>       
    </div>
    <div class="lineavalores"></div>
    <div class="valoresp">
        <p class="vp">Responsabilidad<br>
            Respeto<br>
            Colaboración<br>
            Honestidad<br>
            Compromiso<br>
            Entusiasmo<br>
            </p>
    </div>
    <div class="lineavalores2"></div>
    <div class="lineadivisora"></div>
 <div class="qs">
    <h1 id="¿Quienes Somos?s">¿Quienes somos?</h1>
    <div class="equipo">
        <img src="/img/Equipo.png" alt="">
    </div>
 </div>
 <div class="lineadivisora"></div>
 <div class="proyectos">
 <div><h1 class="proyec">Proyectos</h1></div>
 <div class="imagenes">
    <a href="/"> <img class="MO" src="/img/Montes de oca.png" alt="" > </a>
    <a href="#">  <img src="/img/Goico.png" alt=""> </a>
    <a href="#"> <img src="/img/Moravia.png" alt=""> </a>
    <a href="#"> <img class="TI" src="/img/Tibas.png" alt=""> </a>
 </div>
 </div>
 </div>
    <footer>
        <div class="ft"></div>
        <h1 class="titulof">SJO Pro Solutions</h1>
        <div class="logof">  
        <img class="imglogof" src="/img/SJO_LOGO2-removebg-preview.png" alt="">
        </div>
    </footer>
</body>
</html>